.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto 92px;
    padding: 0 48px;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        gap: 16px;
        padding: 0 24px;
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        gap: 12px;
        padding: 0 16px;
        margin-bottom: 64px;
    }
}
