.places {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto 92px;
    padding: 0 148px;
}
@media screen and (max-width: 1024px) {
    .places {
        padding: 0 48px;
    }
}
@media screen and (max-width: 768px) {
    .places {
        margin-bottom: 90px;
        padding: 0 24px;
    }
}
@media screen and (max-width: 630px) {
    .places {
        margin-bottom: 70px;
        padding: 0 20px;
    }
}
@media screen and (max-width: 320px) {
    .places {
        margin-bottom: 66px;
        padding: 0;
    }
}
