.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;
}

/* -----LEAD----- */

.lead {
    text-align: center;
    margin-bottom: 92px;
}
.lead__title {
    font-family: "Inter-Black", sans-serif;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto 32px;
}
.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0 auto 56px;
}
.lead__image {
    margin: 0 auto;
    max-width: 984px;
}
.lead__img {
    width: 100%;
    margin-bottom: 8px;
}
.lead__caption {
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 0 -48px 88px;
    }
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 0 -48px 64px;
    }
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        margin: 0 auto 16px;
    }
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        margin: 0 auto 40px;
    }
    .lead__caption {
        margin-left: 16px;
    }
}
/* -----INFO----- */

.info {
    margin-bottom: 92px;
}
.info__inner {
    padding-left: 100px;
    max-width: 690px;
}
.info__title {
    font-family: "Inter-Black", sans-serif;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
}
.info__text {
    margin: 0 0 33px;
    line-height: 1.63;
}
.info__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}
.info__list-item_text {
    font-family: "Inter-Bold", sans-serif;
}

@media screen and (max-width: 1024px) {
    .info__inner {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .info {
        margin: 0 -24px 88px;
    }
    .info__inner {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .info {
        margin: 0 -32px 64px;
    }
    .info__inner {
        max-width: 288px;
    }
    .info__title {
        font-size: 32px;
        line-height: 35px;
    }
}

/* -----PHOTO-GRID----- */

.photo-grid {
    margin-bottom: 92px;
}
.photo-grid__inner {
    display: grid;
    grid-template-columns: repeat(4, fit-content(284px));
    grid-template-rows: repeat(3, fit-content(213px));
    gap: 16px;
}
.photo-grid__item {
}
.photo-grid__img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .photo-grid__inner {
        grid-template-columns: repeat(3, fit-content(300px));
        grid-template-rows: repeat(4, fit-content(225px));
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__inner {
        grid-template-columns: repeat(2, fit-content(352px));
        grid-template-rows: repeat(6, fit-content(264px));
        gap: 16px;
    }
    .photo-grid {
        margin: 0 -24px 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__inner {
        grid-template-columns: repeat(1, fit-content(288px));
        grid-template-rows: repeat(12, fit-content(216px));
        gap: 12px;
    }
    .photo-grid {
        margin: 0 -32px 64px;
    }
}

/* -----PLACES----- */

.places {
    margin-bottom: 92px;
    margin-left: 100px;
}
.places__place {
    display: grid;
    grid-template-columns: fit-content(440px) minmax(1fr, 484px);
    grid-template-areas:
        "title website"
        "image text";
    gap: 48px 40px;
}
.places__place:not(:last-child) {
    margin-bottom: 80px;
}
.places__place-title {
    font-family: "Inter-Black", sans-serif;
    font-size: 72px;
    line-height: 76px;
    max-width: 440px;
    grid-area: title;
    margin: 0;
}
.places__place-image {
    width: 100%;
    max-width: 440px;
    grid-area: image;
}
.places__place-website {
    grid-area: website;
    align-self: end;
}
.places__place-heading {
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    letter-spacing: 2px;
    margin: 0 0 12px;
}
.places__place-link {
    font-size: 18px;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: color 0.2s;
}
.places__place-link:hover {
    color: rgba(255, 255, 255, 0.8);
}
.places__place-text {
    font-size: 18px;
    line-height: 1.63;
    grid-area: text;
}
.places__place-paragraph {
    margin: 0;
}
.places__place-paragraph:not(:last-child) {
    margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
    .places {
        margin-left: 0;
    }
    .places__place {
        column-gap: 32px;
        /* grid-template-columns: fit-content(440px) fit-content(456px); */
    }
    .places__place:not(:last-child) {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 0 -24px 90px;
    }
    .places__place {
        column-gap: 28px;
        /* grid-template-columns: fit-content(340px) fit-content(352px); */
    }
    .places__place-title {
        font-size: 42px;
        line-height: 46px;
    }
    .places__place-text {
        min-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 0 -32px 66px;
    }
    .places__place {
        grid-template-areas:
            "title"
            "website"
            "image"
            "text";
        column-gap: 32px;
        grid-template-columns: 320px;
    }
    .places__place-title {
        font-size: 32px;
        line-height: 35px;
    }
    .places__place-text {
        min-width: 0;
        font-size: 16px;
    }
}

/* -----COVER----- */

.cover {
    margin-bottom: 92px;
}
.cover__inner {
    background-image: url("images/cover-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cover__overlay {
    display: block;
    background-color: rgba(42, 44, 47, 0.3);
    padding: calc(245 * 100% / 1184) 0;
    text-align: center;
    transition: background-color 0.4s ease-out;
    color: inherit;
    text-decoration: none;
}
.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}
.cover__title {
    font-family: "Inter-Black", sans-serif;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    margin: 0 auto 32px;
}
.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 0 -48px 92px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 0 -48px 64px;
    }
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 0 auto 16px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        margin: 0 auto;
    }
}

/* -----FOOTER----- */

.footer {
    margin-bottom: 24px;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__link {
    line-height: 18px;
    color: rgb(255, 255, 255);
    margin-right: 18px;
    transition: color 0.2s;
    text-decoration: none;
}
.footer__link:hover {
    color: rgba(255, 255, 255, 0.8);
}
.footer__copy {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0 -32px 24px;
    }
    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 48px;
    }
    .footer__copy {
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }
}
