.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;
}

/* -----FOOTER----- */

/* @media screen and (max-width: 320px) {
    .footer {
        margin: 0 -32px 24px;
    }
    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 48px;
    }
    .footer__copy {
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }
} */
