.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;
}

/* -----FOOTER----- */

.footer {
    margin-bottom: 24px;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__link {
    line-height: 18px;
    color: rgb(255, 255, 255);
    margin-right: 18px;
    transition: color 0.2s;
    text-decoration: none;
}
.footer__link:hover {
    color: rgba(255, 255, 255, 0.8);
}
.footer__copy {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0 -32px 24px;
    }
    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 48px;
    }
    .footer__copy {
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }
}
