@import url("./fonts.css");
@import url("./vendor/normalize.css");

body {
    background-color: #2a2c2f;
    font-family: "Inter-Regular", sans-serif;
    color: #fff;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;
}
.logo {
    width: 176px;
    height: 52px;
}

.header {
    padding: 28px 0;
    margin-bottom: 28px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__lang-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.header__lang-link {
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    transition: opacity 0.3s;
}
.header__lang-link_active {
    text-decoration: underline;
}
.header__lang-link:not(:last-child) {
    margin-right: 18px;
}
.header__lang-link:not(.header__lang-link_active):hover {
    opacity: 0.5;
}

/* -----LEAD----- */

.lead {
    text-align: center;
    margin-bottom: 92px;
}
.lead__title {
    font-family: "Inter-Black", sans-serif;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto 32px;
}
.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0 auto 56px;
}
.lead__image {
    margin: 0 auto;
    max-width: 984px;
}
.lead__img {
    width: 100%;
    margin-bottom: 8px;
}
.lead__caption {
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: left;
}

/* -----INFO----- */

.info {
    margin-bottom: 92px;
}
.info__inner {
    padding-left: 100px;
}
.info__title {
    font-family: "Inter-Black", sans-serif;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
}
.info__text {
    margin: 0 0 33px;
    line-height: 26px;
    max-width: 690px;
}
.info__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}
.info__list-item_text {
    font-family: "Inter-Bold", sans-serif;
}

/* -----PHOTO-GRID----- */

.photo-grid {
    margin-bottom: 92px;
}
.photo-grid__inner {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
}
.photo-grid__item {
}
.photo-grid__img {
    width: 100%;
}

/* -----PLACES----- */

.places {
    margin-bottom: 92px;
}
.places__place {
    display: grid;
    grid-template-columns: fit-content(440px) 1fr;
    grid-template-areas:
        "title website"
        "image text";
    gap: 48px 40px;
}
.places__place:not(:last-child) {
    margin-bottom: 80px;
}
.places__place-title {
    font-family: "Inter-Black", sans-serif;
    font-size: 72px;
    line-height: 76px;
    max-width: 440px;
    grid-area: title;
    margin: 0;
}
.places__place-image {
    width: 100%;
    max-width: 440px;
    grid-area: image;
}
.places__place-website {
    grid-area: website;
    align-self: end;
}
.places__place-heading {
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    letter-spacing: 2px;
    margin: 0 0 12px;
}
.places__place-link {
    font-size: 18px;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.places__place-text {
    font-size: 18px;
    line-height: 1.63;
    grid-area: text;
}
.places__place-paragraph {
    margin: 0;
}
.places__place-paragraph:not(:last-child) {
    margin-bottom: 26px;
}
