.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 530px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 18px;
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}
