.lead__title {
    font-family: "Inter-Black", sans-serif;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto 32px;
}
@media screen and (max-width: 660px) {
    .lead__title {
        font-size: 76px;
        line-height: 80px;
        max-width: 580px;
    }
}
@media screen and (max-width: 530px) {
    .lead__title {
        font-size: 60px;
        line-height: 66px;
        max-width: 440px;
        margin-bottom: 26px;
    }
}
@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 46px;
        line-height: 50px;
        max-width: 370px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        margin-bottom: 16px;
    }
}
