.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    margin: 0 auto 32px;
}
@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 530px) {
    .cover__title {
        font-size: 46px;
        line-height: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 38px;
        line-height: 42px;
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin-bottom: 16px;
    }
}
