.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto 24px;
    padding: 0 48px;
}
@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px;
    }
}
@media screen and (max-width: 340px) {
    .footer {
        padding: 0 16px;
    }
}
